### Create a Calendar table

In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Load the BankHolidays.csv file
holidays = pd.read_csv("BankHolidays.csv")
holidays

         Date Day of the week            Bank holiday
0  2023-12-25          Monday           Christmas Day
1  2023-12-26         Tuesday              Boxing Day
2  2024-01-01          Monday          New Year’s Day
3  2024-03-29          Friday             Good Friday
4  2024-04-01          Monday           Easter Monday
5  2024-05-06          Monday  Early May bank holiday
6  2024-05-27          Monday     Spring bank holiday
7  2024-08-26          Monday     Summer bank holiday
8  2024-12-25       Wednesday           Christmas Day
9  2024-12-26        Thursday              Boxing Day

In [3]:
# Drop the Day of the week column
holidays = holidays.drop('Day of the week', axis=1)

In [4]:
# Ensure the Date column is in datetime format
holidays['Date'] = pd.to_datetime(holidays['Date'])

#### Generate the Calendar Table

In [5]:
# Define the date range for the calendar table
start_date = pd.to_datetime("2023-12-01")
end_date = pd.to_datetime("2024-05-31")

In [6]:
# Create a date range
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

In [7]:
# Create a DataFrame
calendar = pd.DataFrame(date_range, columns=['Date'])

In [8]:
# Add columns
calendar['Year'] = calendar['Date'].dt.year
calendar['Quarter'] = calendar['Date'].dt.quarter
calendar['Month'] = calendar['Date'].dt.month
calendar['Month Name'] = calendar['Date'].dt.month_name().str[:3]   # Short month name
calendar['Week'] = calendar['Date'].dt.isocalendar().week
calendar['Day of Week'] = calendar['Date'].dt.day_name().str[:3]  # Short day name
calendar['Day Type'] = calendar['Date'].apply( lambda x: 'Weekend' if x.weekday() >= 5 else 'Workday')

In [9]:
# Merge with the holidays DataFrame to add Holiday Name
calendar = pd.merge(calendar, holidays, how='left', left_on='Date', right_on='Date')

In [10]:
calendar

,Date,Year,Quarter,Month,Month Name,Week,Day of Week,Day Type,Bank holiday
0,2023-12-01,2023,4,12,Dec,48,Fri,Workday,NaN
1,2023-12-02,2023,4,12,Dec,48,Sat,Weekend,NaN
2,2023-12-03,2023,4,12,Dec,48,Sun,Weekend,NaN
3,2023-12-04,2023,4,12,Dec,49,Mon,Workday,NaN
4,2023-12-05,2023,4,12,Dec,49,Tue,Workday,NaN
...,...,...,...,...,...,...,...,...,...
178,2024-05-27,2024,2,5,May,22,Mon,Workday,Spring bank holiday
179,2024-05-28,2024,2,5,May,22,Tue,Workday,NaN
180,2024-05-29,2024,2,5,May,22,Wed,Workday,NaN
181,2024-05-30,2024,2,5,May,22,Thu,Workday,NaN
182,2024-05-31,2024,2,5,May,22,Fri,Workday,NaN

In [11]:
# Update Day Type for holidays
calendar['Day Type'] = calendar.apply(
    lambda row: 'Holiday' if pd.notna(row['Bank holiday']) else row['Day Type'], axis=1)

In [12]:
# Rename the Bank holiday column to Holiday Name
calendar = calendar.rename(columns={"Bank holiday": "Holiday Name"})

In [13]:
# Display the table
calendar.head(20)  # Display first 20 rows for preview

,Date,Year,Quarter,Month,Month Name,Week,Day of Week,Day Type,Holiday Name
0,2023-12-01,2023,4,12,Dec,48,Fri,Workday,NaN
1,2023-12-02,2023,4,12,Dec,48,Sat,Weekend,NaN
2,2023-12-03,2023,4,12,Dec,48,Sun,Weekend,NaN
3,2023-12-04,2023,4,12,Dec,49,Mon,Workday,NaN
4,2023-12-05,2023,4,12,Dec,49,Tue,Workday,NaN
5,2023-12-06,2023,4,12,Dec,49,Wed,Workday,NaN
6,2023-12-07,2023,4,12,Dec,49,Thu,Workday,NaN
7,2023-12-08,2023,4,12,Dec,49,Fri,Workday,NaN
8,2023-12-09,2023,4,12,Dec,49,Sat,Weekend,NaN
9,2023-12-10,2023,4,12,Dec,49,Sun,Weekend,NaN
10,2023-12-11,2023,4,12,Dec,50,Mon,Workday,NaN
11,2023-12-12,2023,4,12,Dec,50,Tue,Workday,NaN
12,2023-12-13,2023,4,12,Dec,50,Wed,Workday,NaN
13,2023-12-14,2023,4,12,Dec,50,Thu,Workday,NaN
14,2023-12-15,2023,4,12,Dec,50,Fri,Workday,NaN
15,2023-12-16,2023,4,12,Dec,50,Sat,Weekend,NaN
16,2023-12-17,2023,4,12,Dec,50,Sun,Weekend,NaN
17,2023-12-18,2023,4,12,Dec,51,Mon,Workday,NaN
18,2023-12-19,2023,4,12,Dec,51,Tue,Workday,NaN
19,2023-12-20,2023,4,12,Dec,51,Wed,Workday,NaN

In [14]:
# Save to CSV
calendar.to_csv('Calendar.csv', index=False)